#boards {
  display: flex;
  gap: 10vw;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 4vh);
  grid-template-rows: repeat(10, 4vh);
}

.board {
  height: 40vh;
  width: 40vh;
}

.column {
  display: flex;
  flex-direction: row;
  flex: 0%;
  /* WHY DOES THIS WORK */
  /* This works because the column is 10 long */
  height: 4vh;
  width: 40vh;
  border: 1px black solid;
}

.row {
  height: 4vh;
  width: 4vh;
  border: 1px black solid;
}
