#boards {
  display: flex;
  gap: 10vw;
}

.board {
  height: 40vh;
  width: 40vh;
}

.box {
  height: 4vh;
  width: 4vh;
  border: 1px black solid;
  display: grid;
  grid-template-columns: 4vh 4vh 4vh 4vh 4vh 4vh 4vh 4vh 4vh 4vh;
  grid-template-rows: 4vh 4vh 4vh 4vh 4vh 4vh 4vh 4vh 4vh 4vh;
}

.box:hover {
  background-color: bisque;
}